<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
    <script src="jquery.js"></script>
    <style>
        table{
            border-collapse: collapse;
        }
        tr{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <table width="500" border="1">
            <caption>学生信息表</caption>
            <tr v-for='(item,index) of tables'>
                <td v-for="(val,name) in item">{{val}}-{{name}}</td>
            </tr>
        </table>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                tables:[]
            },
            created(){
                var _this = this;
                /*发送请求*/
                this.getData("get","http://127.0.0.1:3000").then((data)=>{
                    _this.tables = data;
                    console.log(_this.tables);
                }).catch((err)=>{
                    console.log(err);
                });
            },
            methods:{
                getData(method,url){
                    return new Promise((resolve,reject)=>{
                        $.ajax({
                            type:method,
                            url:url,
                            success(data){
                                resolve(data);
                            },
                            error(err){
                                reject(err);
                            }
                        })
                    })
                }
            }
        })
    </script>
</body>
</html>